
* {
  border: 1px dashed red;
	min-height: 10px;
/* background-color: rgb(49, 49, 49); */
}



.post-master {
display:flex;
flex-direction: column;
justify-content: space-around;

}

.post-header {

display: flex;
justify-content: space-between;
align-items: center;

}

.icons-right{
   display: flex;
   margin: 5px;
.html-5{
  display: grid;
  grid-template-columns: 1fr;
 }